body {
	font-family: 'Geostar Fill', cursive, bold;	
	text-align: center;
	background-image: url("https://wallpaperplay.com/walls/full/b/e/4/124178.jpg");
	background-size: cover;
	font-size: 12px;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
